<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of files">
                <th>{{file.name}}</th>
                <td>{{file.date}}</td>
                <td><a href="{{root}}{{file.path}}" target="blank_" class="btn btn-primary">{{file.type}}</a></td>
              </tr>
              <tr *ngIf="empty">
                <td colspan="3">
                    <alert type="warning" (click)="onClick()" tooltip="Si considera que es un error comunucarse con su ejecutivo" placement="bottom">
                        No hay facturas. Hacer click para refrescar
                    </alert>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
