<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col"><fa *ngIf="spin"  name="refresh" animation="spin" size="2x"  (click)="onClick()" ></fa>
                                <fa *ngIf="!spin" name="refresh" animation=""     size="2x"  (click)="onClick()" ></fa></th>
              </tr>
            </thead>
            <tbody *ngFor="let mes_file of files">
              <tr>
                <th colspan="3">{{mes_file.title}}</th>
              </tr>
              <tr *ngFor="let file of mes_file.files">
                <th>{{file.name}}</th>
                <td>{{file.date}}</td>
                <td><a href="{{root}}{{file.path}}" target="blank_" class="btn btn-primary">{{file.type}}</a></td>
              </tr>
            </tbody>
          </table>
          <alert *ngIf="empty" type="warning" (click)="onClick()" tooltip="Si considera que es un error comunicarse con su ejecutivo" placement="bottom">
              No hay facturas. Hacer click para refrescar
          </alert>
    </div>
</div>
