<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of files">
                <th>{{file.name}}</th>
                <td>{{file.date}}</td>
                <td *ngIf="file.type=='xml'" ><button type="button" class="btn btn-primary" tooltip="Debera ingresar la contraseña para descarga" placement="right" (click)="openModal(template,file.row)">{{file.type}}</button></td>
                <td *ngIf="file.type!='xml'" ><a href="{{root}}{{file.path}}" target="blank_" class="btn btn-primary">{{file.type}}</a></td>
              </tr>
            </tbody>
          </table>
    </div>
    <ng-template #template>
        <div class="modal-header">
          <h5 class="modal-title pull-left">{{modalData.modalName}}</h5>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
        </div>
      </ng-template>
</div>
